<h1>登場人物</h1>
<li><%= link_to "船長", character_chaptain_path %></li>
<li><%= link_to "副船長", character_sub_chaptain_path %></li>
<li><%= link_to "船の案内人", character_guide_path %></li>
<li><%= link_to "ピアニスト", character_pianist_path %></li>
<li><%= link_to "料理長", character_chef_path %></li>
<li><%= link_to "清掃員", character_cleaner_path %></li>
<li><%= link_to "黒ずくめの人物", character_black_dressed_path %></li>
<li><%= link_to "お父さん", character_papa_path %></li>
</br>
<li>もしかしたら船長が脱ぎ忘れたかもしれない、<%= link_to "お風呂の脱衣場", area_bath_room_path %>に行ってみよう</li>
