<h1>次はどこに行こうか・・。</h1>
<li>→<%= link_to "専用浴室", area_bath_room_path %></li>
<li>→<%= link_to "船長室", area_captain_room_path %></li>
<li>→<%= link_to "甲板", area_deck_path %></li>
<li>→<%= link_to "ゲームコーナー", area_bath_room_path %></li>
<li>→<%= link_to "客室", area_guest_room_path %></li>
<li>→<%= link_to "受付", area_reception_path %></li>
<li>→<%= link_to "食堂", area_restaurant_path %></li>
<li>→<%= link_to "売店", area_shop_path %></li>
<li>→<%= link_to "操舵室", area_steering_room_path %></li>
